<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>index</title>
        <link href="/static/css/index.css" type="text/css" rel="stylesheet"/>
		<link rel="shortcut icon" href="/static/images/indexico.ico"/>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

		
<body>

	<script src="/static/js/canvas-nest.js"></script>

<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="">project</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="">index</a></li>
				<li ><a href="myfile">myfile</a></li>
				<li ><a href="article">article</a></li>
			</ul>
		</div>
		<ul class="nav navbar-nav navbar-right">
			{% ifequal user 'none'%}
			<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
			{% else %}
			<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
			{%endifequal%}
			<li class="dropdown">
				<a href=" " class="dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-user"></span><b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li class="divider"></li>
					<li><a href="">3</a></li>
					<li class="divider"></li>
					{% ifequal user 'none'%}
					<li><a >未登录</a></li>
					{% else %}
					<li><a >{{user.username}}</a></li>
					{%endifequal%}
		</ul>
	</div>
</nav>


<div class="div_foot">

	<a >Copyright © 2019, tww. All Rights Reserved.</a>
       <a href='http://www.miibeian.gov.cn'  rel="nofollow" target='_blank'>黔ICP备19002019号</a> 
 </div>
</body>
</html>



