<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>学生主页</title>
  <!-- Bootstrap core CSS-->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="../static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">欢迎您 {{   username  }}同学</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">个人主页</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="#project">
            <i class="fa fa-fw fa-leanpub"></i>
            <span class="nav-link-text">项目管理</span>
          </a>
        </li>



          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-child"></i>
            <span class="nav-link-text">文件管理</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="#table">我的论文</a>
            </li>
            <li >
              <a data-toggle="modal" data-target="#teacherfile">老师文件</a>
            </li>
          </ul>
           </li>


        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="#mymessages">
            <i class="fa fa-fw fa-bullhorn"></i>
            <span class="nav-link-text">消息中心</span>
          </a>
        </li>
           <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-child"></i>
            <span class="nav-link-text">个人中心</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="#myprofile">我的资料</a>
            </li>
            <li>
              <a href="../logout">退出登录</a>
            </li>
          </ul>
           </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-envelope"></i>
            <span class="d-lg-none">消息
              <span class="badge badge-pill badge-primary">{{ no_read_messagenum }}</span>
            </span>
            <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">最近消息</h6>
            {% for brief_message in brief_messages %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" >
                    <strong> {{ brief_message.teacher }}</strong>
                    <span class="small float-right text-muted">{{ brief_message.message_upload_time }}</span>
                    <div class="dropdown-message small">{{ brief_message.message_content }}</div>
                </a>
            {% endfor %}

            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#mymessages">查看所有消息</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-bell"></i>
            <span class="d-lg-none">系统公告
              <span class="badge badge-pill badge-warning">{{ alertnum }}</span>
            </span>
            <span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">系统消息:</h6>
              {% for brief_broadcast in brief_broadcasts %}
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">
                      <span class="text-success">
                          <strong>
                              <i class="fa fa-bell-o"></i>{{ brief_broadcast.broadcast_title }}</strong>
                      </span>
                      <span class="small float-right text-muted">{{ brief_broadcast.broadcast_upload_time }}</span>
                      <div class="dropdown-message small">{{brief_broadcast.broadcast_content}}.</div>
                  </a>
              {% endfor %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#mymessages">查看所有系统消息</a>
          </div>
        </li>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>退出登录</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <i class="fa fa-fw fa-align-justify" style="margin-top: 5px"></i>&nbsp
        <li class="breadcrumb-item active">我的消息面板</li>
      </ol>
      <!-- Icon Cards-->
      <div class="row">
        <div class="col-xl-6 col-sm-6 mb-6">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-comments"></i>
              </div>
              <div class="mr-5">当前共有{{ messagenum }}条消息，其中有未读消息{{ no_read_messagenum }}条</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#mymessages">
              <span class="float-left">查看详情！</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-6 col-sm-6 mb-6" style="float:right;">
          <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-list"></i>
              </div>
              <div class="mr-5">您有{{ alertnum }}条系统公告，请查看！</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#mymessages">
              <span class="float-left">查看详情！</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>

<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="80%" color=#987cb9 SIZE=10 id ='project'><br><br>
      <div class="card mb-3">
          <div class="card-header" ><i class="fa fa-fw fa-leanpub"></i> 项目管理</div>
      {% ifequal with_project 'true' %}
          <p>当前无项目</p>
      {% else %}
          <div class="card-body">
              <ul class="nav nav-tabs">
                  <li class="active"><a href="#lookup_project" data-toggle="tab">项目浏览</a></li>&nbsp/&nbsp
                  <li><a href="#choice_project" data-toggle="tab">项目选择</a></li>
              </ul><br>
              <div id="myTabContent" class="tab-content">
                  <div class="tab-pane active in" id="lookup_project">
                      <div class="feature-grids row" >
                          {% for project in all_projects %}
                          <div class="col-sm-12 col-lg-4" >
                              <div class="product-item bg-light">
                                  <div class="card">
                                      <div class="thumb-content" >
                                          <a href="">
                                              <div><img class="card-img-top img-fluid" style="width:350px;height:229px;" src="../media/{{project.project_image}}" alt="Card image cap">
                                          </div></a>
                                      </div>
                                      <div class="card-body">
                                          <h4 class="card-title">{{ project.project_name }}</h4>
                                          <ul class="list-inline product-meta">
                                              <li class="list-inline-item">
                                                  {% ifequal  project.project_flag 1 %}
                                                  <i class="fa fa-folder-open-o"></i>未被选择
                                                  {% else %}
                                                  <i class="fa fa-folder-open-o"></i>已被选择
                                                  {% endifequal %}
                                              </li>
                                              <li class="list-inline-item">
                                                  <i class="fa fa-calendar"></i>{{ project.project_startdate }}
                                              </li>
                                              <li class="list-inline-item">
                                                  <i class="fa fa-calendar"></i>{{ project.teacher }}
                                              </li>
                                          </ul>
                                          <p class="card-text">{{ project.project_content }}</p>
                                      </div>
                                  </div>
                              </div>
                              </div>
                          {% endfor %}
                      </div>
                  </div>
                  <div class="tab-pane fade" id="choice_project">
                      <div class="table-responsive">
                          <h4 class="margin-bottom-15">所有项目表</h4>
                          <table class="table table-striped table-hover table-bordered">
                              <thead>
                              <tr>
                                  <th>#</th>
                                  <th>项目名</th>
                                  <th>指导老师</th>
                                  <th>指导老师专业</th>
                                  <th>项目经费</th>
                                  <th>项目结束时间</th>
                                  <th>Action</th>
                                  <th>是否选择</th>
                              </tr>
                              </thead>
                              <tbody>
                              {% for project in all_projects %}
                              <tr class="danger">
                                  <td>{{ project.id }}</td>
                                  <td>{{ project.project_name }}</td>
                                  <td>{{ project.teacher }}</td>
                                  <td>{{ project.teachermajor }}</td>
                                  <td>{{ project.project_free }}</td>
                                  <td>{{ project.project_enddate }}</td>
                                  <td>
                        <!-- Split button -->
                                      <div class="btn-group">
                                          <button type="button" class="btn btn-info">Action</button>
                                          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                              <span class="caret"></span>
                                              <span class="sr-only">Toggle Dropdown</span>
                                          </button>
                                          <ul class="dropdown-menu" role="menu">
                                              <li><a href="#">Bootstrap</a></li>
                                              <li><a href="#">Font Awesome</a></li>
                                              <li><a href="#">jQuery</a></li>
                                          </ul>
                                      </div>
                                  </td>
                                  {% ifequal project.project_flag 1 %}
                                  <td><a href="{% url 'select_project' email.email  project.id %}" class="btn btn-link">选择</a></td>
                                  {% else %}
                                      <td><a  class="btn btn-link">已被选择</a></td>
                                  {% endifequal %}
                              </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card-footer small text-muted">最后一次更新在 {{ profile.time }}</div>
      {% endifequal %}
      </div>



      <!-- Area Chart Example-->
     <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="80%" color=#987cb9 SIZE=10 id ='myprofile'><br><br>
      <div class="card mb-3">
        <div class="card-header" >
          <i class="fa fa-fw fa-child"></i> 个人资料</div>
        <div class="card-body">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">个人管理</a></li>&nbsp/&nbsp
                <li><a href="#profile" data-toggle="tab">密码管理</a></li>
            </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active in" id="home">
                <div class="row">
                    <div class="col-md-4"><br>
                  <form id="tab" method="POST"  action="{% url 'alter_personal_info' profile.email %}">{% csrf_token %}
                      <div class="form-group">
                          <label>用户名</label>
                          <input type="text" value="{{ profile.username }}" class="form-control" name = "username">
                      </div>
                      <div class="form-group">
                          <label>姓名</label>
                          <input type="text" value="{{ profile.name }}" class="form-control" name = "name">
                      </div>
                      <div class="form-group">
                          <label>性别</label><br>
                          {% ifequal  profile.sex 1 %}
                              <input type="radio" name="sex" value="male" checked=true name = "sex"/> 男<br />
                              <input type="radio" name="sex" value="female" name = "sex"/> 女<br />
                              {% else %}
                              <input type="radio" name="sex" value="male" name = "sex"/> 男<br />
                              <input type="radio" name="sex" value="female" checked=true  name = "sex"/> 女<br />
                          {% endifequal %}
                      </div>
                      <div class="form-group">
                          <label>邮箱</label>
                          <input type="text" value="{{ profile.email }}" class="form-control" name = "email" disabled="disabled">
                      </div>

                    </div>
                    <div class="col-md-6"><br>
                        <div class="form-group">
                          <label>学校</label>
                          <input type="text" value="{{ profile.school }}" class="form-control" name = "school">
                      </div>
                        <div class="form-group">
                          <label>专业</label>
                          <input type="text" value="{{ profile.major }}" class="form-control" name = "major">
                      </div>
                        <div class="form-group">
                          <label>班级</label>
                          <input type="text" value="{{ profile.class }}" class="form-control" name = "class">
                      </div>
                        <div class="form-group">
                          <label>当前项目及指导老师</label>
                            {% ifequal profile.project_name 'null' %}
                                <input type="text" value="当前未参与项目" class="form-control" disabled="disabled">
                                {% else %}
                                <input type="text" value="{{ profile.project_name }}/{{ profile.project_teacher }}" class="form-control" disabled="disabled">
                            {% endifequal %}
                        </div>
                    <div class="btn-toolbar list-toolbar" style="width:35%;">
                        <input class="btn btn-primary btn-block" type="submit" placeholder="保存" >
                    </div>
                    </div>
                </form>
                </div>

            </div>

            <div class="tab-pane fade" id="profile">
                <div class="row">
                    <div class="col-md-4"><br>
                <form id="tab2"  method="POST"  action="{% url 'alter_personal_psd' profile.email %}">{% csrf_token %}
                    <div class="form-group">
                        <label>新密码</label>
                        <input type="password" class="form-control" name = "newpassword">
                    </div>
                    <div class="btn-toolbar list-toolbar" style="width:35%;">
                        <input class="btn btn-primary btn-block" type="submit" placeholder="保存" >
                    </div>
                </form>

                    </div></div>
            </div>
        </div>
        </div>
        <div class="card-footer small text-muted">最后一次更新在 {{ profile.time }}</div>
      </div>


<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="80%" color=#987cb9 SIZE=10 id ='mymessages'><br><br>
    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-5 mb-lg-0">
                  <div class="card-header">
                      <h2 class="h6 mb-0 text-uppercase">消息中心</h2>
                  </div>

                <div class="card-body">
                    <p class="text-gray mb-5">以下列表为您的所有消息.</p>
                    {% for  my_message in my_messages%}
                    <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row" onclick="editInfo('{{ my_message.message_publisher.id }}','{{ my_message.id }}','{{ my_message.message_publisher.username }}')" data-toggle="modal" data-target="#messageModal">
                        <div class="left d-flex align-items-center">
                            <div class="icon icon-lg shadow mr-3 text-gray"><i class="fa fa-fw fa-envelope"></i></div>
                            <div class="text" >
                                <h6 class="mb-0 d-flex align-items-center">
                                    <span id ="teachername">{{ my_message.message_publisher.username }}</span>
                                    <input type="hidden" id="message_id" value="{{ my_message.id}}"/>
                                    <input type="hidden" id="message_publisher" value="{{ my_message.message_publisher.id }}"/>
                                    <input type="hidden" id="projectid" value="{{ my_message.project.id  }}"/>
                                </h6>
                                <small class="text-gray">{{ my_message.message_content }}</small>
                            </div>
                        </div>
                        <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0 text-violet">
                            <h6>{{ my_message.message_upload_time }}</h6>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
                  <div class="card-header">
                      <h2 class="h6 mb-0 text-uppercase">向指导老师提问</h2>
                  </div>
                <div class="card-body">
                    <div class="container">
                        {% ifequal adviser 'null' %}
                        {% else %}
                            <div class="jumbotron" disabled="disabled">
                                <p><a class="btn btn-primary btn-lg" role="button" disabled="disabled" data-toggle="modal" data-target="#questionModal">
                                    发起提问</a> <input type="hidden" id="question_teacher" value="{{ adviser.id }}"/>
                                </p>
                            </div>
                        {% endifequal %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{#    向指导老师提问模态框#}
    <div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">提问</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <div class="modal-body">
              <label>请输入问题的内容：</label>
              <textarea rows="10" cols="60" id ="question" name = "question"></textarea>
          </div>
            {% csrf_token  %}
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit" onclick="submit_question()">发送</button>
            <button class="btn btn-default" type="button" data-dismiss="modal">取消</button>
          </div>

        </div>
      </div>
    </div>
      <!-- 回复消息 弹窗-->
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">回复窗口</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
              <label>请输入回复给<input type="text" name="teachername1" id ="teachername1" style="border-style:none;width:20%;"/>的内容</label>
              <textarea rows="10" cols="60" id ="reply" name = "reply"></textarea>
          </div>
            {% csrf_token  %}
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit" onclick="submit_reply()">回复</button>
            <button class="btn btn-default" type="button" data-dismiss="modal">取消</button>
          </div>

        </div>
      </div>
    </div>

      <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="80%" color=#987cb9 SIZE=10 id ='table'><br><br>
      <div class="card mb-3" id ="table">
        <div class="card-header">
          <i class="fa fa-table"></i> 所有已上传的论文</div>
          <div style=" z-index:1">
          <form  action="/upload_file/" method="post" enctype="multipart/form-data">
      		{% csrf_token %}<br>
    		<input type="file" class="form-control" style="width: 18%; margin-left: 300px;" name="file" />
    		<input type="submit" class="form-control"style="width: 18%; margin-left: 600px; margin-top: -42px;"value="提交" onclick="alert1()"/>
          </form></div>
      {% ifequal  no_project 'true'%}
          alert("你好，我是一个警告框！");
      {% endifequal %}
        <div class="card-body" style=" z-index:1">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>项目名称</th>
                  <th>论文题目</th>
                  <th>指导老师</th>
                  <th>上传时间</th>
                  <th>下载</th>
                  <th>删除</th>
                   <th>文件大小</th>
                  <th>老师是否查阅</th>
                </tr>
              </thead>
              <tbody>
                {%  for student_file in student_files  %}
                <tr>
                  <td>{{ student_file.project_name }}</td>
                  <td>{{ student_file.student_file_name }}</td>
                  <td>{{ student_file.project_teacher }}</td>
                  <td>{{ student_file.student_upload_time }}</td>
                  <td><a href="{% url 'download_file' email.email student_file.student_file_name  %}">download</a></td>
				   <td><a href="{% url 'delete_file' email.email student_file.student_file_name  %}">delete</a></td>
                    <td>{{ student_file.student_file_size }}bit</td>
                    {% ifequal student_file.student_file_flag 1 %}
                    <td>未查阅</td>
                    {% else %}
                    <td>已查阅</td>
                    {% endifequal %}
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">最近一次{{ file_lasted_time }}更新</div>
      </div>
    </div><br><br><br><br><br><br><br><br>

    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="/">第二组</a></small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">是否离开?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">选择 "退出登录" 则退出登录至登录界面.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
            <a class="btn btn-primary" href="../logout">退出登录</a>
          </div>
        </div>
      </div>
    </div>
  {#          老师文件模态框#}
<div class="modal fade" id="teacherfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">指导老师文件</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <div class="modal-body">
              <label>文件列表：</label>
              {% ifequal teacher_file 'null'  %}
                  <p>无文件！</p>
              {% else %}

                  <table class="table table-condensed">
                  <thead>
                  <tr>
                      <th>文件名</th>
                      <th>上传时间</th>
                      <th>下载</th></tr>
                  </thead>
                  <tbody>
                  {% for file in teacher_file %}
                  <tr>
                      <td>{{ file.student_file_name }}</td>
                      <td>{{ file.student_upload_time }}</td>
                      <td><a href="{% url 'download_teacher_file' file.email.email file.student_file_name  %}">download</a></td>
                  </tr>
                  {% endfor %}
                  </tbody>
              </table>
              {% endifequal %}


          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">取消</button>
          </div>

        </div>
      </div>
    </div>


      <script>
          var a = $('a[href]', 'nav');
        a.click(function(){
    var href = $(this).attr('href');
    var o = $(href).offset();
    $(window).scrollTop(o.top, 1000); //增加个动画效果
});</script>
  <script>
      function editInfo(publisherid,messageid,teachername) {
          var teachername_ = teachername
          console.log(publisherid,messageid,teachername_);
          $('#teachername1').val(teachername_);
          $('#message_id').val(messageid);
          $('#message_publisher').val(publisherid);
          $('#submit_reply').modal('show');
      }
      function getCsrf(){
	        return $("input[name='csrfmiddlewaretoken']").val();
      };
      function submit_question() {    //提问
          var teacher = $('#question_teacher').val();
          var content = $('#question').val();
          console.log(teacher,content)
          $.ajax({
              type:'post',
              url:'question/',
              datatype:'html',
              contentType: "application/x-www-form-urlencoded; charset=utf-8",
              data : "csrfmiddlewaretoken="+getCsrf()+'&question_content='+content+'&teacherid='+teacher,
              success:function (result) {
                  if (result=='ok'){
                      alert('发送成功！');
                      $('#reply').val('');
                  }
              }
          })
      }
        {#ajax异步请求回复消息#}
      function submit_reply(){
          var reply = $('#reply').val();
          var messageid = $('#message_id').val();
          var messagepublisher = $('#message_publisher').val();
          var projectid = $('#projectid').val();

          $.ajax({
              type:'post',
              url:'reply/',
              datatype:'html',
              contentType: "application/x-www-form-urlencoded; charset=utf-8",
              data : "csrfmiddlewaretoken="+getCsrf()+'&message_content='+reply+'&messageid='+messageid+'&messagepublisher='+ messagepublisher+'&projectid=' + projectid,
              success:function (result) {
                  if (result=='ok'){
                      alert('回复成功');
                      $('#reply').val('');
                  }
                  else if(result=='false') {
                      alert('学生无项目');
                      $('#reply').val('');
                  }
              }
          });

      }
  </script>



    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../static/vendor/chart.js/Chart.min.js"></script>
    <script src="../static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="../static/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="../static/js/sb-admin-datatables.min.js"></script>
    <script src="../static/js/sb-admin-charts.min.js"></script>
  </div>
</body>

</html>
